# python related
*.pyc

# Ignore all data files
*.root
*.pkl
*.npz
*.json

# ignore 
cpp_merger/merge_production
cpp_merger/merge_production.o

# Ignore Python cache folders
__pycache__/

analysis_tools.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

#ignore credential files
.wctecaldb.credential*
.wctecaldb.analysistcredential

#ignore setup shell scripts
*.sh

#ignore batch scripts
scripts/batchScripts/

#dirty fix to clean the git repo 
crossing_muon_study/

